# Dependências
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/

# Turborepo
.turbo/

# Ambiente
.env
.env.local
.env.*.local

# Prisma
packages/database/generated/

# Editores / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Playwright
test-results/
playwright-report/
e2e-report/
blob-report/
